* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

audio {
    width: 100px !important;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
}

.doraemon {
    margin: 50px 0 0 0px;
    position: relative;
}

.code-wrapper{
    flex: 3;
    width: 50%;
    padding: 10px;
}

.preview-wrapper{
    flex: 7;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

#code{
    overflow: hidden;
    height:100%;
}
.actions{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .actions>button{
    margin: 10px;
    background: #ddd;
    padding: 8px 10px;
    border:none;
  }
  .actions>button.active{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  }
  .actions>button:focus{
    outline: none;
  }

